.navbar-brand{
  color: white;
  font-weight: bold;
}
.navbar-dark .navbar-brand { 
  color: white;
}
blockquote {
  color: black;
  border-left: 3px solid #FFC20E; 
  padding: 0.5em 10px;
}
figcaption {
  color: #E2231A;
}
img.quarto-cover-image {
  box-shadow: 9px 9px 7px lightgrey;
}
.sidebar-title a:hover {
  color: #E2231A;
}
